body{
    color: #222;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif;
    font-size: 12px
}
a:hover { 
    color: #d2dc81;
}
.footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

#spinner{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    opacity: 0.9;
    background-color: #343a40;
    text-align: center;
    padding-top: 15%;
    color: #fff;
    font-size: 30px;
}

td { padding: 3px; max-width: 450px; }
.font{ font-family:courier; }
.center{ text-align: center; }
.bg555{ background-color: #555; color: #FFF; }
.bg{ background-color:#ccc; }
.r{ color:red; }
.o{ color:orange; }
.y{ color:yellow; }