#edit_on_domain{display: none}
#buttons_editor{width: 100%;height: 11px;}
#buttons_editor span{list-style: none;min-width: 50px;padding-right: 10px;border-right: 1px solid #ccc;padding-left: 10px;background-color: #999}
#buttons_editor span a{color:#fff}
#buttons_editor span a {color: #fff;font-size: 11px;}

.editor_history{background-color: #ddd !important;color:#666;line-height: 16px}
.editor_history a{color: #777 !important;font-size: 10px !important;}

#file_change_history_content{width: 100%;height: 300px;margin-top: 10px;color:#0000ff;font-family: monospace;}

.view_file_in_history_content{cursor: pointer}

#file_change_history_result_modal .modal-body{font-size: 11px}

div#collected_edited_files table {font-size: 10px;}
div#collected_edited_files th {padding: 5px;}
div#collected_edited_files td {padding-right: 5px;}
.show_on_click{cursor: pointer}
.send_to_dropbox{cursor: pointer}

.CodeMirror {height: 100%; font-size: 13px}

.col-md-2{ padding: 0px !important; overflow: auto; height: 100%; color: #fff }
.col-md-10{ padding: 0px !important; }
.CodeMirror-linenumber { color: #222; }
.CodeMirror-gutters { background-color: #e9e8e2; }
.CodeMirror pre { padding: 0 10px; line-height: 18px; }
.cm-s-default .cm-tag{ color: #00c; }
.cm-s-default .cm-attribute{ color: #170; }
.cm-s-default .cm-comment{ color: #aaa; }
.cm-s-default .cm-string { color: rgb(206,123,0); }
.cm-s-default .cm-qualifier { color: #170; }
.cm-s-default .cm-atom { color: #000; }
span.cm-property { color: #00c; }
.cm-s-default .cm-number { color: #000; }
.cm-s-default .cm-meta { color: #4a8bc3; }
div.CodeMirror span.CodeMirror-matchingbracket { color: #000; background-color: yellow; }
        
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: lightgreen}
.CodeMirror-selection-highlight-scrollbar {background-color: green}

#btnSaveHTML{width: auto;padding-right: 10px;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;margin: 0px}
#refreshFilelistCacheByProject{width: auto;padding-right: 10px;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;margin: 0px;margin-right: 10px}
.no-margin-no-padding{
    margin:  0px !important;
    padding: 0px !important;
    line-height: 7px;
    max-height: 12px;
}

#left-sidebar{
    overflow: auto;
}
ul{display: block;padding-left: 15px;}

#searchstringinfile{width: 100%;}

#collect_edited_files{
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}

div#div_header_bar div {font-size: 8px;line-height: 8px;}
div#div_header_bar button {font-size: 16px;line-height: 1;padding: 5px;font-family: monospace;}
div#div_header_bar span {font-size: 8px;line-height: 8px;font-family: monospace}
div#div_header_bar input {
    font-size: 16px;
    line-height: 1;padding: 5px;
    font-family: monospace;
}

#new_file{width: 100%;}

#spinner{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    opacity: 0.9;
    background-color: #343a40;
    text-align: center;
    padding-top: 15%;
    color: #fff;
    font-size: 30px;
    display: none;
}

.btnUpload{
    white-space: normal;
    height: 100px;
    width: 24%;
}

.navbar-nav>li>a{padding: 0px;line-height: 1}
.navbar-brand{height: auto}
.navbar{padding: 0px;min-height: 30px;border-radius: 0px;background-color: #a3b19a !important;margin: 0px}
.btn{width: 200px;margin-bottom: 10px}
#current_dir{font-family: monospace;}

.modal.fade .modal-dialog{-webkit-transform:none;margin-top: 50px}