<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /#APPLICATION-SLUG#/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /#APPLICATION-SLUG#/index.php?q=$1 [L,QSA]
</IfModule>
